{% load static %}
<!DOCTYPE html> 
  <html lang="en">
    <head>  
      <meta charset="UTF-8">  
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <title>Registration Form With External css</title>  

      <link rel="stylesheet" href="style.css">  

      <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/sampleregister.css'%}">
    </head>

    <body> 
        <div>   
          <form>   

            <h1 class="text-warning text-center pt-5">Registration Page</h1>  

            <label>     

               

              <div class="line-box">          

              <div class="line">
                
              </div>        

              </div>    

            </label>                

            <label> 
<label><b>Username :</b>   

<input type="text" class="input" name="username"  placeholder="USERNAME"/> </label>                

 <div class="line-box">         

                <div class="line"></div>        

              </div>  
              </label>              

            <label>     
<label><b>Password:</b> 

<input type="password" class="input"  name="password" placeholder="PASSWORD"/>  </label>                   
  <div class="line-box">          

                <div class="line"></div>        

              </div>    

            </label>     
         
            <label>   
<label><b>Confirm Password:</b>

 <input type="password" class="input" name="confirm" placeholder="CONFIRM PASSWORD"/>   </label>  


            <div class="line-box">  

                <div class="line"></div>      

              </div>    

            </label>     

    <label><b>Email: </b>
        <input type="text" class="input" name="email" placeholder="EMAIL"/>  </label>        

            

   <center> <button type="submit">Register</button>  </center>

          </form> 

      </div> 

    </body> 

</html>
