<!DOCTYPE html>
<html>
<head>
	<title>User Data</title>
</head>
<body>
	<h3>Your name is :<span style ="color:#ff0000">{{n}}</span> <span style="color:#ff0000"></span>Your age is :<span style="color:#ff0000">{{a}}</span></span></h3>


	<h2><span style ="color:#ff0000">Working for :<span style ="color:blue">{{o}}</span></h2>
	<!-- <h3><span style ="color:#ff0000">Package : <span style ="color:pink">{{s}}</span></h2> -->
	<!-- Now we can add styles -->
	<!-- <span is inline style it didnt accept newline>If we want new line remove span

</body>
</html>